<div class="content">
    <div class="nav-bar">
        <div id="logo">
            <img id="logo-img" src="../../assets/full-logo.png">
        </div>    
        <div  id="register-button-wrapper">
            <button (click)="signOut()">
            <p id="button-text" class="normal-links">
                SIGN OUT 
            </p>
            </button>
        </div> 
    </div>
    <div class="login-info">
        <p id="login-id">Logged in as 72fb158f-8d8c-4892-af0e-42f22e47f33b</p>
        <p id="device-id">Paired with device-id 61IXpltdEav03rh</p>
    </div>  
    <p id="place-holder-message" *ngIf="false">
        Scan to Verify.....
    </p>
    <div id="user_stream" >
        <div class="user-card" *ngFor="let user of user_array" >
            <!-- https://identicon-api.herokuapp.com/luqman/ -->
            <!-- <img class="center" src="https://identicon-api.herokuapp.com//220?format=svg"> -->
            <img class="user-fingerprint" src="https://identicon-api.herokuapp.com/{{user.hashedFingerprint}}/220?format=png" alt="">
            <div class="user-details">
                <p class="user-id">piID :{{user.hashedPiId}}</p>
                <p class="user-id">fingerprint: {{user.hashedFingerprint}}</p>
                <p class="user-id">Timestamp: {{user.timestamp}}</p>
                <p class="user-id">verified-by: UBC</p>
            </div>
    </div>
</div>

