<div class="content">
    <div class="nav-bar">
        <div id="logo">
            <img id="logo-img" src="../../assets/full-logo.png">
        </div>    
        <div  id="register-button-wrapper">
            <button>
            <p id="button-text" class="normal-links">
                SIGN OUT 
            </p>
            </button>
        </div> 
    </div>
    <div class="login-info">
        <p id="login-id">Logged in as 4deb2dc5-2e65-425d-981b-7486a127fba8</p>
        <p id="device-id">Paired with device-id 61IXpltdEav03rh</p>
    </div>  
    <p id="place-holder-message" *ngIf="false">
        Scan to Verify.....
    </p>
    
</div>

