<div class="content">
    <div class="nav-bar">
            <div id="logo">
                <img id="logo-img" src="../../assets/full-logo.png">
            </div>    
            <div class="normal-links" id="about">ABOUT</div>
            <div class="normal-links" id="pricing">PRICING</div>
        
            <div  id="register-button-wrapper">
                <button>
                <p id="button-text" class="normal-links">
                    REGISTER
                </p>
                </button>
    </div>
</div>

<!-- show the scanned finerpints through here-->
<div id="sign-in">
    <p id="sign-in-text">
    Sign in
    <p>
    <form >
        <input class="input-field" id="input-usr-id" type="text" placeholder="Enter your uuid...">
        <input class="input-field" id="input-usr-code" type="text" placeholder="Enter your one-time-code...">
    </form>
    <button id="login-button">
        LOGIN
    </button>
</div>
</div>
        
<div id="map"></div> 
        





